nav a{  font-size: 31px; font-family: cursive; margin-left: 14px; }
body{
    background-image: url("../../assets/imags/foodiesfeed.com_vietnamese-baguette-banh-mi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }